{% load static %}
<header class="h-[10vh] shadow-md bg-white w-full flex justify-between items-center px-8">
    <div>
      
      <i class="fa-solid fa-bars-staggered text-primary text-2xl" id="menu" ></i>
    </div>
    <div class="flex items-center gap-x-2 ">
      <div class="text-xs flex flex-col items-center text-primary">
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p class="text-gray-400">{{group}}</p>
      </div>
      <img src="{% static 'Images/olivier.png' %}" alt="" class="w-12 rounded-full">
    </div>
  </header>