{% load static %}
<div class="sidebar bg-primary h-full w-[16%] text-white">

    <ul class="text-white flex flex-col  items-center ">
      <li class=" h-[10vh] w-full  font-extrabold cursor-pointer">
        <a hx-get='{% url 'dashboard' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-1  py-3 px-5 h-full w-full">
          <img src="{% static 'Images/adv_logo.svg' %}" alt="" class="w-8 ">
          <p class="hide">AUCA_Church</p>
        </a>
      </li>
      <li class="bg-white shadow-xl  w-full text-primary  cursor-pointer">
       
        <a hx-get='{% url 'dashboard' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-1  py-4 px-5 h-full w-full">
        <i class="material-icons">dashboard</i>
        <p href="index.html" class="hide">Dashboard</p>
      </a>
      </li>
      <li  class=" w-full hover:bg-purple-200 hover:text-primary  cursor-pointer">

          <a hx-get='{% url 'members' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-1  py-4 px-5 h-full w-full">
          <i class="material-icons">people</i>
        <p class="hide">Members
        </p>
        </a>
      </li>
      <li class="w-full hover:bg-purple-200 hover:text-primary  cursor-pointer">

        <a hx-get='{% url 'events' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-1  py-4 px-5 h-full w-full">
        <i class="material-icons">event_available</i>
        <p class="hide">Events</p>
      </a>
      </li>
      <li class=" w-full hover:bg-purple-200 hover:text-primary  cursor-pointer">

        <a hx-get='{% url 'activities' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-1  py-4 px-5 h-full w-full">
        <i class="material-icons">local_activity</i>
        <p class="hide">Activities</p>
      </a>
      </li>
      <li class=" w-full hover:bg-purple-200 hover:text-primary  cursor-pointer">

        <a hx-get='{% url 'announcements' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-1  py-4 px-5 h-full w-full">
        <i class="material-icons">announcement</i>
        <p class="hide">Announcements</p>
      </a>
      </li>
      <li class=" w-full hover:bg-purple-200 hover:text-primary cursor-pointer">
        <a hx-get='{% url 'logs' %}' hx-target='.content' hx-swap='outerHTML' class="flex items-center gap-x-2  py-4 px-5 h-full w-full">
        <i class="fa-solid fa-chart-line"></i>
        <p  class="hide">Logs</p>
      </a>
      </li>
   
    </ul>
    <div class="text-white ">
      <a href="{% url 'signout' %}" class="flex items-center gap-x-1  py-4 px-5 h-full w-full">
      <i class="fa-solid fa-right-from-bracket"></i>
      <p  class="hide">Logout</p>
    </a>
    </div>
  </div>