
    <div class="content flex flex-col w-screen gap-y-3 bg-white lg:w-min  px-4 py-4 mt-6 shadow-lg rounded h-min ">
        <h1 class="text-primary font-bold">Add Budget</h1>
        <form  hx-post='{% url 'add-budget' %}' hx-target='.content' hx-swap='outerHTML' class="w-full">
            {% csrf_token %}
            <div class="flex flex-col lg:flex-row gap-x-3 gap-y-3 w-full lg:w-max">
                <div class="w-full lg:w-96 flex flex-col gap-5 items-center ">
                    <div class="flex flex-col gap-y-5 w-full">
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                             <input type="text" placeholder="amount from church" class="w-full outline-none" name='amount_from_church'> 
                        </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            <input type="text" placeholder="amount from members" class="w-full outline-none" name='amount_from_members'> 
                       </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            
                             {% comment %} <input type="text" placeholder="Department" class="w-full outline-none" name='department'>  {% endcomment %}
                              <select name="department" class="w-full outline-none">
                                {% comment %} {% for department in departments %} {% endcomment %}
                                    <option value="{{ department.department.id }}">{{ department }}</option>
                                    
                                {% comment %} {% endfor %} {% endcomment %}
                            </select> 
                            {% comment %} <input type="text" placeholder="Event Name" value={{department}} class="w-full outline-none" name='department' readOnly>  {% endcomment %}
                            

                        </div>
                        
                        
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            
                             <input type="date" placeholder="" class="w-full outline-none" name='start_date'> 
                           
                        </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            
                             <input type="date" placeholder="Password" class="w-full outline-none" name='end_date'> 
                          
                        </div>

                        <button class="w-min bg-primary text-white px-5 self-end py-2 rounded-md" type="submit" >
                            Add 
                        </button>
                        
                        
                    </div>
                    
            </div>    
            </div>
        </form>
    </div>
