<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/img/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/863d396d0d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Dashboard</title>


    <style type="text/tailwindcss">
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        @layer components{
            .input{ 
            @apply w-full outline-none;
        }
        }
    </style>

    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: '#00295B',
              }
            }
          }
        }
      </script>
</head>
<body >
    <div class="flex flex-col w-screen gap-y-3 bg-white lg:w-min border border-2 px-4 py-4">
        <h1 class="text-primary font-bold">Add An Event</h1>
        <form method='POST' class="w-full">
            <!-- {% csrf_token %} -->
            <div class="flex flex-col lg:flex-row gap-x-3 gap-y-3 w-full lg:w-max">
                <div class="w-full lg:w-96 flex flex-col gap-5 items-center ">
                    <div class="flex flex-col gap-y-5 w-full">
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                             <input type="" placeholder="Event Name" class="w-full outline-none" name=''> 
                        </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            
                             <input type="text" placeholder="Department" class="w-full outline-none"> 
                            
                        </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                           
                             <input type="email" placeholder="Budget" class="input"> 
                            
                        </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            
                             <input type="date" placeholder="" class="w-full outline-none"> 
                           
                        </div>
                        <div class="flex  gap-2 items-center rounded-md shadow-lg shadow-blue-50 px-2 py-2 border  border-[#E0E6F0]">
                            
                             <input type="date" placeholder="Password" class="w-full outline-none"> 
                          
                        </div>
                        
                        
                    </div>
                    
            </div>
            <div class="flex flex-col gap-y-4 items-center">
                <textarea name="" id="" placeholder="Description" cols="30" rows="9"class="w-full outline-none rounded-md gap-2  shadow-lg shadow-blue-50 px-2 py-2 border border-[#E0E6F0]"></textarea>
                <button class="w-min bg-primary text-white px-5 self-end py-2 rounded-md">
                    Add 
                </button>
            </div>
                
               
            </div>
        </form>
    </div>
</body>
</html>