{% extends 'partials/dashboard.html' %}

{% block content %}
<div class="content px-8 py-6 flex flex-col gap-y-12 w-full">
  <div class="flex flex-col gap-y-2">
    <div class="flex justify-between">
      <h1 class="font-extrabold text-2xl">Overview</h1>

      <div class="flex gap-x-3 ">
        <a href='{% url 'download' %}' class="flex gap-x-3 items-center rounded-md border border-1 bg-primary text-white px-3 ">
          <p >Report</p>
          <i class="fa-solid fa-download"></i>
        </a>
        <select name="" id="" class="outline-none px-4 rounded-md ">
          <option value="" class="border-none">2023</option>
          <option value="">2022</option>
          <option value="">2021</option>
          <option value="">2020</option>
        </select>
      </div>
    </div>

  <div class="flex w-full gap-x-4">
    <div class="bg-purple-400 w-full flex justify-between px-6 py-4 text-white rounded font-extrabold">
      <div>
        <i class="material-icons">event_available</i>
      <h2>Events</h2>
      <p>120</p>
      </div>
      <i class="fa-solid fa-bars-progress text-7xl opacity-30"></i>
    </div>
    <div class="bg-blue-400 w-full flex justify-between  px-6 py-4 text-white rounded font-extrabold">
      <div>
        <i class="material-icons">event_available</i>
      <h2>Activities</h2>
      <p>120</p>
      </div>
      <i class="fa-solid fa-bars-progress text-7xl opacity-30"></i>
    </div>
    <div class="bg-green-400 w-full flex justify-between px-6 py-4 text-white rounded font-extrabold">
      <div>
        <i class="material-icons">event_available</i>
      <h2>Completed</h2>
      <p>120</p>
      </div>
      <i class="fa-solid fa-bars-progress text-7xl opacity-30"></i>
    </div>
    <div class="bg-red-400 w-full flex justify-between px-6 py-4 text-white rounded font-extrabold">
      <div>
        <i class="material-icons">event_available</i>
      <h2>Pending</h2>
      <p>120</p>
      </div>
      <i class="fa-solid fa-bars-progress text-7xl opacity-30"></i>
    </div>
  </div>
  </div>

 <div class="w-full flex flex-col gap-y-2 ">
  <h1 class="text-xl font-bold">Chuch Activities</h1>
  <table class="table-fixed  bg-white rounded-md shadow-lg w-full">
   
    <thead class="border-b text-left">
      <tr class=" ">
      <th class="py-3 px-2 ">Activity</th>
      <th>Department</th>
      <th>Assignee</th>
      <th>Due date</th>
      <th>End date</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody class="text-xs">
      <tr class="border-b ">
        <td class="py-3 px-2 ">Mifem Camp</td>
        <td>Mifem</td>
        <td>Murekatete Joyeuse</td>
        <td>July 02, 2023</td>
        <td>July 08, 2023</td>
        <td class="text-green-400 font-bold">Completed</td>
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Mifem Camp</td>
        <td>Mifem</td>
        <td>Murekatete Joyeuse</td>
        <td>July 02, 2023</td>
        <td>July 08, 2023</td>
        <td class="text-blue-400 font-bold">Pending</td>
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Mifem Camp</td>
        <td>Mifem</td>
        <td>Murekatete Joyeuse</td>
        <td>July 02, 2023</td>
        <td>July 08, 2023</td>
        <td class="text-red-400 font-bold">Cancelled</td>
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Mifem Camp</td>
        <td>Mifem</td>
        <td>Murekatete Joyeuse</td>
        <td>July 02, 2023</td>
        <td>July 08, 2023</td>
        <td class="text-blue-400 font-bold">Pending</td>
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Mifem Camp</td>
        <td>Mifem</td>
        <td>Murekatete Joyeuse</td>
        <td>July 02, 2023</td>
        <td>July 08, 2023</td>
        <td class="text-blue-400 font-bold">Pending</td>
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Mifem Camp</td>
        <td>Mifem</td>
        <td>Murekatete Joyeuse</td>
        <td>July 02, 2023</td>
        <td>July 08, 2023</td>
        <td class="text-green-400 font-bold">Completed</td>
      </tr>
    </tbody>
  </table>
 </div>
</div>
{% endblock content %}
