
<div class="content px-8 py-6 flex flex-col gap-y-6 w-full">
  <div class="flex justify-between">
    <div class="bg-white flex w-max py-3 px-3 gap-x-3 rounded-md shadow-lg text-sm w-min text-primary">
      <h1 class="text-xl font-bold w-max ">User Logs</h1>
    </div>
    <div class="flex gap-x-3 ">
      <div class="flex gap-x-3 items-center rounded-md border border-1 bg-primary text-white px-3 ">
        <p>Report</p>
        <i class="fa-solid fa-download"></i>
      </div>
      <select name="" id="" class="outline-none px-4 rounded-md ">
        <option value="" class="border-none">2023</option>
        <option value="">2022</option>
        <option value="">2021</option>
        <option value="">2020</option>
      </select>
    </div>
  </div>

 <div class="w-full flex flex-col gap-y-2 ">
  
  <table class="table-fixed  bg-white rounded-md shadow-lg w-full">
   
    <thead class="border-b text-left">
      <tr>
      <th class="py-3 px-2 ">Member Name</th>
      <th>Phone </th>
      <th>Email</th>
      <th>Date</th>
      <th>Time</th>
      <th>Operation</th>
    </tr>
    </thead>
    <tbody class="text-xs">
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        
        <td>
          <div class="flex gap-x-4 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
      <tr class="border-b ">
        <td class="py-3 px-2 ">Murekatete Joyeuse</td>
        <td>+250789393939</td>
        <td>joyeuse@gmail.com</td>
        <td>July 08, 2023</td>
        <td>12:43 p.m</td>
        <td>
          <div class="flex gap-x-3 w-1/2 justify-center">
            <i class="fa-solid fa-pen-to-square text-md"></i>
            <i class="fa-solid fa-trash-can text-md text-red-500"></i>
          </div>
        </td>
        
      </tr>
    </tbody>
  </table>
 </div>
</div>

